html,body{
    height: 100%;
    background: black;
    line-height: 24px;
    letter-spacing: 1px;
}

.item-tooltip{
    height: 500px;
    width: 500px;
    margin: 250px auto;
    margin-top: 400px;
}

.item-tooltip .tooltip {
    width: 60px;
    height: 60px;
    margin: 150px auto;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.item-tooltip .tooltip::before{ 
    background-color: #fff;
    width: 8px;
    height: 8px;
    z-index: 2;
    -webkit-clip-path: polygon(50% 0,100% 50%,50% 100%,0 50%);
    clip-path: polygon(50% 0,100% 50%,50% 100%,0 50%);
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
}

.item-tooltip .tooltip::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);

    width: 2px;
    height: 2px;
    z-index: 1;
    -webkit-box-shadow: 0 0 50px 30px purple;
    box-shadow: 0 0 50px 30px purple;
    -webkit-animation: item_tooltip_glow 2s cubic-bezier(.25,.1,.2,1) infinite;
    animation: item_tooltip_glow 2s cubic-bezier(.25,.1,.2,1) infinite;
    -webkit-transition: opacity .5s ease;
    transition: opacity .5s ease;
}

@-webkit-keyframes item_tooltip_glow {
    0% {
      -webkit-box-shadow: 0 0 30px 5px purple;
      box-shadow: 0 0 30px 5px purple
    }
    70% {
      -webkit-box-shadow: 0 0 70px 50px rgba(72, 170, 72, 0);
      box-shadow: 0 0 70px 50px rgba(72, 170, 72, 0)
    }
    100% {
      -webkit-box-shadow: 0 0 0 50px rgba(72, 170, 72, 0);
      box-shadow: 0 0 0 50px rgba(72, 170, 72, 0)
    }
  }
  @keyframes item_tooltip_glow {
    0% {
      -webkit-box-shadow: 0 0 30px 5px purple;
      box-shadow: 0 0 30px 5px purple
    }
    70% {
      -webkit-box-shadow: 0 0 70px 50px rgba(72, 170, 72, 0);
      box-shadow: 0 0 70px 50px rgba(72, 170, 72, 0)
    }
    100% {
      -webkit-box-shadow: 0 0 0 50px rgba(72, 170, 72, 0);
      box-shadow: 0 0 0 50px rgba(72, 170, 72, 0)
    }
  }

  .item-tooltip .tooltip-dot {
    z-index: 3;
    border: 1px solid #fff;
    width: 60px;
    height: 60px;
    display: block;
    -webkit-transform: translate(-0%,-0%) scale(.95);
    transform: translate(-0%,-0%) scale(.95);
    -webkit-animation: item_tooltip_border 2s linear infinite;
    animation: item_tooltip_border 2s linear infinite;
    margin: auto;
  }

@-webkit-keyframes item_tooltip_border {
    0%,
    100% {
      border-color: rgba(255, 255, 255, .6);
      -webkit-transform: translate(-50%, -50%) scale(.95);
      transform: translate(-0%, -0%) scale(.95)
    }
    50% {
      border-color: rgba(255, 255, 255, .3);
      -webkit-transform: translate(-50%, -50%) scale(1);
      transform: translate(-0%, -0%) scale(1)
    }
  }
  @keyframes item_tooltip_border {
    0%,
    100% {
      border-color: rgba(255, 255, 255, .6);
      -webkit-transform: translate(-50%, -50%) scale(.95);
      transform: translate(-0%, -0%) scale(.95)
    }
    50% {
      border-color: rgba(255, 255, 255, .3);
      -webkit-transform: translate(-50%, -50%) scale(1);
      transform: translate(-0%, -0%) scale(1)
    }
  }

  .item-tooltip .tooltip-radius {
    width: 250px;
    height: 250px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -125px 0 0 -125px;
    opacity: 0;
    visibility: hidden;
    -webkit-transform: scale(0);
    transform: scale(0);
    -webkit-transition-property: background-color,opacity,visibility,-webkit-transform;
    transition-property: background-color,opacity,visibility,-webkit-transform;
    transition-property: background-color,opacity,visibility,transform;
    transition-property: background-color,opacity,visibility,transform,-webkit-transform;
    -webkit-transition-duration: .5s;
    transition-duration: .5s;
    -webkit-transition-timing-function: ease,ease,ease,cubic-bezier(.5,0,0,1);
    transition-timing-function: ease,ease,ease,cubic-bezier(.5,0,0,1);
  }

  .item-tooltip .tooltip:hover .tooltip-radius {
    opacity: 1;
    visibility: visible;
    -webkit-transform: scale(1);
    transform: scale(1);
  }

  .item-tooltip .tooltip[data-position="1"] .tooltip-content {
    top: 85px;
    left: 50%;
    margin-left: 56px;
  }

  .item-tooltip .tooltip-content {
    color: purple;
    width: 300px;
    position: absolute;
    z-index: 5;
    padding: 12px 0;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: opacity .7s ease,visibility .7s ease;
    transition: opacity .7s ease,visibility .7s ease;
    pointer-events: none;
    visibility: hidden;
    pointer-events: none
  }

  .item-tooltip .tooltip:hover .tooltip-content {
    color: purple;
    width: 300px;
    position: absolute;
    z-index: 5;
    padding: 12px 0;
    opacity: 1;
    visibility: visible !important;
    -webkit-transition: opacity .7s ease,visibility .7s ease;
    transition: opacity .7s ease,visibility .7s ease;
    pointer-events: none;
    color: purple;
    visibility: hidden;
    pointer-events: none
  }

  .item-tooltip .tooltip-content::before {
    width: 0px;
    bottom: 0;
    left: 0;
    content: '';
    background-color: purple;
    height: 1px;
    position: absolute;
    transition: width 0.4s;
  }

  .item-tooltip .tooltip:hover .tooltip-content::before {
    width: 180px;
    transition: width 0.4s;
  }
  .item-tooltip .tooltip-content::after {
    -webkit-transform-origin: 0 50%;
    transform-origin: 0 50%;
    -webkit-transform: rotate(-225deg);
    transform: rotate(-225deg);
    bottom: 0;
    left: 0;
    width: 80px;
    content: '';
    background-color: purple;
    height: 1px;
    position: absolute;
    opacity: 1;
    -webkit-transition: opacity .5s ease;
    transition: opacity .5s ease;
    transition-delay: 0s;
    -webkit-transition-delay: 0s;
    transition-delay: 0s;
  }
  .item-tooltip .tooltip:hover .tooltip-content::after {
    opacity: 1;
    visibility: visible;
  }
  .item-tooltip .tooltip[data-position="4"] .tooltip-content {
    bottom: 85px;
    left: 50%;
    margin-left: 56px;
  }